@import '../../styles/variables.scss';


.output {
    display: inline-block;
    width: 100%;
    max-width: 427px;
    
    .output__header {
        color: $primary;
        font-family: 'Gilroy';
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 8px;
        @media (min-width: #{$mobile}px) and (max-width: #{$tablet}px) {
            font-size: 14px;
        }
    }
    
    .output__info {
        font-size: 54px;
        font-weight: 900;
        color: $black;
        @media (min-width: #{$mobile}px) and (max-width: #{$tablet}px) {
            font-size: 32px;
        }
    }

    @media (max-width: #{$laptop}px) {
        max-width: 332px;
    }
}