@import '../../styles/variables.scss';

.title {
    color: $black;

    &-h1 {
        font-size: 54px;
        @media (min-width: #{$mobile}px) and (max-width: #{$tablet}px) {
            font-size: 34px;
        }
    }
    &-h2 {
        font-size: 40px;
    }
    &-h3 {
        font-size: 30px;
    }
    &-h4 {
        font-size: 22px;
    }
    &-h5 {
        font-size: 16px;
    }
    &-h6 {
        font-size: 12px;
    }
}